<table class="table text-center">
  <thead class="thead-light">
    <tr>
      <th>Display</th>
      <th>Name</th>
      <th>Last</th>
      <th>BirthDate</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let contact of contacts  | slice:0:10;">
      <td><input type="checkbox" [checked]="contact.isDisplayed" (change)="onCheckedDisplay($event, contact)"></td>
      <td>{{ contact.name }}</td>
      <td>{{ contact.last }}</td>
      <td>{{ contact.birthDate == null ? '...' : contact.birthDate}}</td>
      <td>
        <a [routerLink]="['/contacts/', contact.id]">View</a>
      </td>
    </tr>
  </tbody>
</table>
