<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="container-fluid">
        <div class="row">
          <div class="col-5 col-md-3 d-flex">
            <img [src]="userImage()" class="img-fluid rounded-circle mx-auto" alt="contactimage">
          </div>
          <div class="col-6 d-flex">
            <span class="align-self-center">Star Wars Contacts</span>
          </div>
        </div>
        <div class="row">
          <div class="col-5 col-md-3 d-flex">
            <label class="btn btn-link mx-auto" for="inputfile">Edit</label>
            <input type="file" id="inputfile" class="d-none" (change)="onPhotoSelected($event)">
            </div>
            <div class="col-7 col-md-9 d-flex">
                <label class="btn btn-link text-danger ml-auto" (click)="onDeleteContact()">delete</label>
            </div>
        </div>
        <div class="row">
          <div class="col-5 col-md-3">
            <div class="progress" *ngIf="uploadProgress !== '0%'">
              <div class="progress-bar progress-bar-striped text-center" [style.width]="uploadProgress">{{uploadProgress}}</div>
            </div>
          </div>
        </div>
      <hr>
        <div class="row">
          <div class="col-3">
            <label for="seller">Seller</label>
          </div>
          <div class="col-8">
              <ng-select
              bindLabel="name"
              bindValue="contactname"
              [placeholder]="contact.name">
              <ng-option *ngFor="let contact of contacts" [value]="contact.id" [disabled]="!contact.isDisplayed">{{contact.name}} {{contact.last}}</ng-option>
            </ng-select>

          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <label for="birthdate">Birth Date</label>
          </div>
          <div class="col-8">
            <input type="date" id="birthdate" formControlName="birthdate"
            class="form-control rounded-0 border border-top-0 border-left-0 border-right-0 border-dark">
          </div>
        </div>

        <div class="row mt-2 ml-1">
          <div class="col-8 custom-control custom-checkbox">
            <input type="checkbox"
            class="custom-control-input"
            formControlName="isdisplayed"
            name="isdisplayed"
            id="isdisplayed">
            <label class="custom-control-label" for="isdisplayed">{{contact.name}}</label>
          </div>
          </div>

      <hr>
        <app-weapon-list [weapons]="contact.weapons"></app-weapon-list>

        <div class="row fixed-bottom d-flex justify-content-center text-center">
          <div class="col-12 col-md-10 col-lg-8">
            <img src="../../assets//img/back.png"
            alt="navigateback"
            class="float-left btn"
            (click)="onChangeContact('back')"
            [ngClass]="{'d-none': contactIndex <= 0}">
            <img src="../../assets//img/forward.png"
            alt="navigateforward"
            class="float-right btn"
            (click)="onChangeContact('forward')"
            [ngClass]="{'d-none': contactIndex >= contacts.length - 1}">
            <button class="btn btn-success mb-2">Save</button>
          </div>
        </div>
      </div>
</form>
